DirectoryIndex index.php

<IfModule mod_rewrite.c>
  RewriteEngine On

  ## Uncomment the following line, if you are having trouble
  # RewriteBase /

  #RewriteCond %{REQUEST_URI} ^/features/.*

  # for Admienr
  RewriteCond %{REQUEST_FILENAME} !-f
  RewriteRule ^modules/adminer/(.+)\.php$  /modules/adminer/index.php?feature=$1 [QSA,L]
  RewriteCond %{REQUEST_FILENAME} !-f
  RewriteRule ^modules/adminer/(.+)\.css$  /modules/adminer/adminer.css [QSA,L]

  # for Memcached
  RewriteCond %{REQUEST_FILENAME} !-f
  RewriteRule ^modules/memcached/(.+)\.php$  /modules/memcached/index.php?feature=$1 [QSA,L]

  # for apc
  RewriteCond %{REQUEST_FILENAME} !-f
  RewriteRule ^modules/apc/(.+)\.php$  /modules/apc/index.php?feature=$1 [QSA,L]

  # for phpinfo
  RewriteCond %{REQUEST_FILENAME} !-f
  RewriteRule ^modules/phpinfo/(.+)\.php$  /modules/phpinfo/index.php?feature=$1 [QSA,L]

  # for genghis
  RewriteCond %{REQUEST_FILENAME} !-f
  RewriteRule ^modules/genghis/(.+)\.php$  /modules/genghis/index.php$2?feature=$1 [QSA,L]

  RewriteCond %{REQUEST_FILENAME} !-f
  RewriteRule ^modules/genghis/(.+)\.php(.+)$  /modules/genghis/index.php$2?feature=$1 [QSA,L]


</IfModule>
