html {
 overflow-y: scroll;
 height: 100%;
}
body {
  padding-top: 30px;
  font-size: 13px;
}

iframe.icontent {
  height:100%;
  margin: 0;
  position:absolute;
}

.dropdown-menu {
-webkit-border-radius: 3px;
-moz-border-radius: 3px;
border-radius: 3px;
-webkit-box-shadow: 0 2px 5px rgba(0,0,0,0.2);
-moz-box-shadow: 0 2px 5px rgba(0,0,0,0.2);
box-shadow: 0 2px 5px rgba(0,0,0,0.2);
}

body.default  {
 padding-top: 10px;
}


.navbar-inner {
min-height: 30px;
padding-right: 20px;
padding-left: 20px;
background-color: #fafafa;
background-image: -moz-linear-gradient(top,#fff,#f2f2f2);
background-image: -webkit-gradient(linear,0 0,0 100%,from(#fff),to(#f2f2f2));
background-image: -webkit-linear-gradient(top,#fff,#f2f2f2);
background-image: -o-linear-gradient(top,#fff,#f2f2f2);
background-image: linear-gradient(to bottom,#fff,#f2f2f2);
background-repeat: repeat-x;
border: 1px solid #d4d4d4;
-webkit-border-radius: 4px;
-moz-border-radius: 4px;
border-radius: 4px;
filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ffffffff',endColorstr='#fff2f2f2',GradientType=0);
-webkit-box-shadow: 0 1px 4px rgba(0,0,0,0.065);
-moz-box-shadow: 0 1px 4px rgba(0,0,0,0.065);
box-shadow: 0 1px 4px rgba(0,0,0,0.065);
}

.navbar .nav>li>a {
padding: 5px 15px 5px;
}

.container-front {
  padding-left: 20px;
  padding-right: 20px;
}

.container-front .side {
  width: 140px;
  float: left;
}
.container-front .main {
  margin-left: 160px;
}

.content-background .container-front {
  position: fixed;
  top:0;
  left:0;
  height: 100%;
  width:100%;
  z-index: -9999;
}
.content-background .container-front .side {
  height: 100%;
  border-right: 1px solid #e1e1e1;

  width: 140px;
  float: left;
}



.side .nav-list li {
line-height: 17px;
}

.side .nav-list li.nav-header {
display: block;
padding: 3px 15px;
font-size: 13px;
font-weight: bold;
line-height: 20px;
color: #999999;
text-shadow: 0 1px 0 rgba(255, 255, 255, 0.5);
text-transform: none;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 10px 0;
  font-family: inherit;
  font-weight: bold;
  line-height: 20px;
  color: inherit;
  text-rendering: optimizelegibility;
}

h1 small,
h2 small,
h3 small,
h4 small,
h5 small,
h6 small {
  font-weight: normal;
  line-height: 1;
  color: #999999;
}

h1,
h2,
h3 {
  line-height: 30px;
}

h1 {
  font-size: 26px;
}

h2 {
  font-size: 25px;
}

h3 {
  font-size: 24px;
}

h4 {
  font-size: 27px;
}

h5 {
  font-size: 14px;
}

h6 {
  font-size: 11.9px;
}
