html {
 overflow-y: scroll;
 height: 100%;
}
body {
  padding-top: 40px;
  font-size: 13px;
}

iframe.icontent {
  height:100%;
  margin: 0;
  position:absolute;
}

.dropdown-menu {
-webkit-border-radius: 3px;
-moz-border-radius: 3px;
border-radius: 3px;
-webkit-box-shadow: 0 2px 5px rgba(0,0,0,0.2);
-moz-box-shadow: 0 2px 5px rgba(0,0,0,0.2);
box-shadow: 0 2px 5px rgba(0,0,0,0.2);
}

.manager-home h1 {
font-size: 30px;
}
body.manager-home  {
 padding-top: 20px;
}

