<VirtualHost *:80>
  DirectoryIndex index.php index.html
  DocumentRoot   "/path/to/phpwebadmin"
  ServerName     yourservername
  RewriteEngine  On

  <Directory "/path/to/phpwebadmin">
    AllowOverride All
    Allow from All
  </Directory>

</VirtualHost>